<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.smartup.node.mapper.TradeMapper">

    <select id="selectPage" resultType="global.smartup.node.po.Trade">
        select * from trade where market_id = #{marketId} and state = #{state} order by create_time asc limit #{offset}, #{size};
    </select>

</mapper>